.navigation {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .navigation {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.6;
  }
}
