.promo {
  background-color: var(--medium-grey);
  background-image: url(../../images/promo-figure.svg);
  background-repeat: no-repeat;
  background-position: right 70px bottom 60px;
  padding: 50px var(--side-padding) 406px;

  grid-area: promo;
}
