.popup__title {
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 37px;
}

@media screen and (max-width: 450px) {
  .popup__title {
    font-size: 12px;
    line-height: 1.22;
    padding-bottom: 65px;
  }
}
