.about-me__container {
  max-width: 52%;
}

@media screen and (max-width: 768px) {
  .about-me__container {
    max-width: 54%;
  }
}

@media screen and (max-width: 560px) {
  .about-me__container {
    max-width: 100%;
  }
}
