.about-project__stages {
  display: flex;
  gap: 53px;
  padding: 70px 0 110px;
}

@media screen and (max-width: 768px) {
  .about-project__stages {
    gap: 37px;
    padding: 70px 0 93px;
  }
}

@media screen and (max-width: 450px) {
  .about-project__stages {
    flex-direction: column;
    gap: 55px;
    padding: 60px 0 59px;
  }
}
