.techs__description {
  width: 40%;
  line-height: 1.43;
  letter-spacing: -0.56px;
  text-align: center;
  margin: 0;
  padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .techs__description {
    width: 68%;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.48px;
    padding-bottom: 83px;
  }
}
