.root {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  max-width: 1280px;
  margin: auto;

  /* Динамический паддинг необходим, чтобы убрать
  сдвиг сайта при появлении полосы прокрутки. */
  padding-right: calc(15px - (100vw - 100%));

  color: var(--text-color);
  background-color: var(--body-background-color);
}
