.about-project__title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.8px;
  margin: 0;
  padding-bottom: 26px;
}

@media screen and (max-width: 768px) {
  .about-project__title {
    padding-bottom: 22px;
  }
}

@media screen and (max-width: 320px) {
  .about-project__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    padding-bottom: 19px;
  }
}
