.search-form__submit {
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  background-color: var(--blue);
  background-image: url(../../../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 7px;
}
