.movies-card-list {
  padding: 80px 70px;

  grid-area: movies-card-list;
}

@media screen and (max-width: 768px) {
  .movies-card-list {
    padding: 80px 30px 100px;
  }
}

@media screen and (max-width: 320px) {
  .movies-card-list {
    padding: 50px 10px 100px;
  }
}
