.main-form__logout {
  color: var(--red);
  font-size: 13px;
  font-weight: 500;
  background-color: inherit;
  border: none;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .main-form__logout {
    font-size: 12px;
  }
}
