.movies-card-list__more-film-button {
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  border: none;
  border-radius: 6px;
  background-color: var(--light-grey);
  /* margin-bottom: 10px; */
  padding: 11px 148px 9px;
}
