.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--footer-background-color);
  padding: 80px var(--side-padding) 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    background-color: inherit;
    padding: 60px 30px 20px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 59px 10px 20px;
  }
}
