.navigation__login {
  color: var(--white);
  background-color: var(--blue);
  padding: 8px 20px;
  border-radius: 3px;
  transition: opacity linear var(--time-transition);
}

.navigation__login:hover {
  opacity: .8;
}
