.about-me__job {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin: 0;
  padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .about-me__job {
    font-size: 12px;
    line-height: 1.5;
    padding-bottom: 20px;
  }
}
