.about-me {
  padding: 110px var(--side-padding) 102px;

  grid-area: about-me;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 91px var(--side-padding) 91px;
  }
}

@media screen and (max-width: 320px) {
  .about-me {
    padding: 70px 14px;
  }
}
