.movies-card-list__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  justify-content: center;
  gap: 30px 24px;
}

@media screen and (max-width: 768px) {
  .movies-card-list__list {
    grid-template-columns: repeat(auto-fit, 339px);
    gap: 36px 30px;
  }
}

@media screen and (max-width: 370px) {
  .movies-card-list__list {
    grid-template-columns: repeat(auto-fit, 94%);
    gap: 16px;
  }
}
