.movies-card-list__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 24px;
}

@media screen and (max-width: 850px) {
  .movies-card-list__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px 30px;
  }
}

@media screen and (max-width: 470px) {
  .movies-card-list__list {
    grid-template-columns: repeat(1, 100%);
    gap: 16px;
  }
}
