/** Fonts **/
@import url(./vendor/fonts/fonts.css);

/** Normalize **/
@import url(./vendor/normalize.css);

/** Variables **/
@import url(./vendor/variables/variables.css);

/** Root **/
@import url(./blocks/root/root.css);

h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -1.6px;
}
