.techs__tool {
  width: 90px;
  height: 60px;
  letter-spacing: -0.56px;
  background-color: var(--regular-grey);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .techs__tool {
    width: 84px;
    height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}
