.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 245px 0 60px;
}

@media screen and (max-width: 768px) {
  .not-found {
    padding-top: 407px;
  }
}

@media screen and (max-width: 420px) {
  .not-found {
    padding: 329px 0 30px;
  }
}
