.main-form__submit {
  width: 100%;
  color: var(--white);
  font-weight: 500;
  line-height: 1;
  background-color: var(--blue);
  border: none;
  border-radius: 3px;
  margin-top: 69px;
  padding: 15px 0;
  cursor: pointer;
  transition: .7s;
}

@media screen and (max-width: 320px) {
  .main-form__submit {
    font-size: 12px;
    line-height: normal;
    margin-top: 157px;
  }
}
